
<br>
<footer class="panel-footer">
  <p class="text-center">©{{getCurrentYear}} Thiruvalluvar University. All Rights Reserved.</p>
</footer>

<script type="text/javascript" src="js/common.js"></script>

