<head>
  <title>{{pageTitle}} | Thiruvalluvar University</title>
  <meta charset="utf-8">
  <!-- Fonts -->
  <link type="text/css" rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.validate.min.js"></script>
  <script>
    var globalCF = {};
  </script>
  <script type="text/javascript" src="js/apiconfig.js"></script>
</head>