<header class="nav container" role="navigation">
	<a href="/">
		<img src="/images/logo.png" alt="university-logo" class="nav--logo">
	</a>
	<nav class="nav--links styles__links__2gREx">
		<ul>
			<!-- <li class="nav--item-main styles__link__2UPsf">
				<a class="nav--link-main" href="/plans/">Plans &amp; Pricing</a>
			</li> -->
			<li class="nav--item-main styles__link__2UPsf">
				<a class="nav--link-main" href="">About</a>
			</li>
		</ul>
		<div class="nav--button-container styles__buttons__tV5DY">
			<a class="nav--signup button m-blue" href="/signup/">Sign up</a>
			<a class="nav--signup button m-yellow" href="/login/">Log in</a>
		</div>
	</nav>
</header>
