<head>
  <title>{{pageTitle}} Page | Thiruvalluvar University</title>
  <meta name="google-site-verification" content="M5ihqTxELKUv9ua7HRcyICtnW3fBv-GX9cyS6wF7-yM" />
  
  <meta charset="utf-8">
  <link rel="icon" href="/images/srks_logo.png" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon" />
  <!-- Fonts -->
  <link type="text/css" rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> 
  <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.override.css">  -->
  <link rel="stylesheet" type="text/css" href="/css/fontsawesome.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/overridetheme.css">


  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/notify.min.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>  

  <script>
    var globalCF = {};
  </script>
  <script type="text/javascript" src="/js/apiconfig.js"></script>
</head>