<!DOCTYPE html>
{{>headinclude}}

<body>
	<div class="page-root">
	  {{>header}}
	  <div role="main" class="">
	  	{{>sidebar}}
	  	<div class="content">
	  		<div class="prtm-sparkline pad-lr-lg" style="width: 52%;float: left;padding: 3em 2em;">
                <div class="prtm-sparkline-list bg-success clearfix prtm-card-box">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="5000">5,000</span> <span>New visitors</span> </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[9, 8, 9, 7, 6, 8, 7, 8]">
                            <canvas width="62" height="50" style="display: inline-block; width: 62px; height: 50px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="prtm-sparkline-list clearfix bg-info prtm-card-box">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="3000">3,000</span> <span>New Users</span> </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[5, 6, 8, 9, 5, 8, 4, 6]">
                            <canvas width="62" height="50" style="display: inline-block; width: 62px; height: 50px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="prtm-sparkline-list clearfix bg-secondary prtm-card-box">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="7000">7,000</span> <span>Active users</span> </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[9, 8, 9, 7, 6, 8, 7, 8]">
                            <canvas width="62" height="50" style="display: inline-block; width: 62px; height: 50px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
	  		<div class="create-account">
		  		<h2>Create your account</h2>
		  		<p>Sign up for a account to create fully managed.</p>
		  		<form class="signup-form styles__form__1nWb1" role="form" name="signup">
	                <div class="styles__inputWrapper__3eyQZ">
	                    <div class="  styles__container__YKjIB">
	                        <div class="styles__fieldIcon__H183S icon--people"></div>
	                        <div class="styles__inputWrapper__38hST">
	                            <input type="text" value="" name="accountName" id="accountName" aria-labelledby="accountName-label" aria-required="true" aria-describedby="accountName-tooltip" aria-invalid="false" title="Account name (such as your group, project, or company name)" spellcheck="false" autocomplete="off" class="styles__input__OX3CX styles__mHasInfo__3_ZSU">
	                            <label class="styles__label__R5MB3 " for="accountName" id="accountName-label">
	                                <!-- react-text: 32 -->Name
	                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
	                            <div class="styles__feedback__27U2V">
	                                <!-- react-text: 43 -->
	                                <!-- /react-text -->
	                            </div>
	                        </div>
	                    </div>
	                    <div class="  styles__container__YKjIB">
	                        <div class="styles__fieldIcon__H183S icon--mail"></div>
	                        <div class="styles__inputWrapper__38hST">
	                            <input type="email" value="" name="email" id="email" aria-labelledby="email-label" aria-required="true" aria-describedby="false" aria-invalid="false" title="Email address associated with this user" spellcheck="false" autocomplete="email" class="styles__input__OX3CX">
	                            <label class="styles__label__R5MB3 " for="email" id="email-label">
	                                <!-- react-text: 49 -->Email
	                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
	                            <div class="styles__innerInputFunctionWrapper__15pS0"></div>
	                            <div class="styles__feedback__27U2V">
	                                <!-- react-text: 53 -->
	                                <!-- /react-text -->
	                            </div>
	                        </div>
	                    </div>
	                    <div class="  styles__container__YKjIB">
	                        <div class="styles__fieldIcon__H183S icon--person"></div>
	                        <div class="styles__inputWrapper__38hST">
	                            <input type="text" value="" name="username" id="username" aria-labelledby="username-label" aria-required="true" aria-describedby="username-tooltip" aria-invalid="false" title="Username (used when logging in)" spellcheck="false" autocomplete="off" class="styles__input__OX3CX styles__mHasInfo__3_ZSU">
	                            <label class="styles__label__R5MB3 " for="username" id="username-label">
	                                <!-- react-text: 59 -->Userid
	                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
	                            <div class="styles__innerInputFunctionWrapper__15pS0">
	                                <div class="styles__container__34oVD   icon--info" title="More information" aria-controls="username-tooltip" aria-expanded="false">
	                                    <div id="username-tooltip" aria-hidden="true" class="styles__tooltip__3mjy_ "><span><!-- react-text: 65 -->This can be your registration number / roll number.<!-- /react-text --><br><br><!-- react-text: 68 --><!-- /react-text --></span></div>
	                                </div>
	                            </div>
	                            <div class="styles__feedback__27U2V">
	                                <!-- react-text: 70 -->
	                                <!-- /react-text -->
	                            </div>
	                        </div>
	                    </div>
	                    <div class="  styles__container__YKjIB">
	                        <div class="styles__fieldIcon__H183S icon--key"></div>
	                        <div class="styles__inputWrapper__38hST">
	                            <input type="password" value="" name="password" id="password" aria-labelledby="password-label" aria-required="true" aria-describedby="false" aria-invalid="false" title="Password (used when logging in)" spellcheck="false" autocomplete="new-password" class="styles__input__OX3CX">
	                            <label class="styles__label__R5MB3 " for="password" id="password-label">
	                                <!-- react-text: 76 -->Password
	                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
	                            <div class="styles__innerInputFunctionWrapper__15pS0">
	                                <div class="styles__container__34oVD   icon--info" title="More information" aria-controls="username-tooltip" aria-expanded="false">
	                                    <div id="username-tooltip" aria-hidden="true" class="styles__tooltip__3mjy_ "><span>This can be your mobile number or create an unique password.<!-- /react-text --><br><br><!-- react-text: 68 --><!-- /react-text --></span></div>
	                                </div>
	                            </div>
	                            <div class="styles__feedback__27U2V">
	                                <!-- react-text: 82 -->
	                                <!-- /react-text -->
	                            </div>
	                        </div>
	                    </div>
	                <div class="styles__container__YKjIB">
	                	<div class="styles__fieldIcon__H183S icon--idcard"></div>
	                    <div class="styles__inputWrapper__38hST">
	                       <select class="dropdown styles__input__OX3CX">
	                       		<option selected>SELECT YOUR COLLEGE</option>
	                           	<option>Adhiparasakthi College</option>
	                           	<option>Abdul Hakeem College</option>
	                           	<option>Kingston Engineering College</option>
	                           	<option>Muthurangam Govt. Arts College</option>
	                           	<option>REC</option>
	                       </select>
	                        <div class="styles__feedback__27U2V">
	                            <!-- react-text: 82 -->
	                            <!-- /react-text -->
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="styles__submitWrapper__1jfP8">
	                <!-- react-empty: 92 -->
	                <input type="submit" checked="" disabled="" class="styles__submit__34ILB register" value="Create Account" aria-label="Create Account">
	            </div>
	        </form>
        </div>
	  	</div>
	  	
	</div>
</body>

</html>
