<!DOCTYPE html>
{{>headinclude}}

<body class = "container-fluid">
	<div class="page-root">
	  {{>header}}
	  <div role="main" class="styles__layoutWrapper__nEkzc">
	  	 <div class="create-complaints">
	  	 	{{#if collegeName}}
	  			<div class="collg-name">College : {{collegeName}}</div>
	  		{{/if}}
	  		<div class="complaints-list dropdown-container">
	  			{{#ifvalue pageTitle equals='createissue'}}
	  				<button class="button add-new-button">Add New</button>
		  			<table class="table table-sm table-bordered">
					  <thead class="thead-inverse">
					    <tr>
					      <th scope="column">Category <span id="ts-resoure-heading" class="invisible">- <span></span></span></th>
					      <th scope="column">Queries List <span id="ts-resoure-heading" class="invisible">- <span></span></span></th>
					      <th scope="column">Enter Your Queries <span id="ts-resoure-heading" class="invisible">- <span></span></span></th>
					      <th scope="column">Status <span id="ts-resoure-heading" class="invisible">- <span></span></span></th>
					    </tr>
					  </thead>
					  <tbody class="allocation-table-container active" id="new-complaints-container">
					  </tbody>
					</table>
					<input type="submit" class="submit-ticket" name="">
				{{/ifvalue}}
				{{#ifvalue pageTitle equals='myissues'}}
					<table>
						<tr>
							<td>My Issues</td>
						</tr>
					</table>
				{{/ifvalue}}
				{{#ifvalue pageTitle equals='Feedback'}}
					<a href="">Create Issue</a>
					<a href="">My Issues</a>
				{{/ifvalue}}
	  		</div>
	  	</div>
	  </div>




	  <script type="text/template" id="new-complaints-template">
		  	<tr>
		  		<td class="dropdown-list">
				  	<select class="custom-select dropdown">
						<option selected>List Of Categories</option>
						<% _.each(feedbackFields,function(item){ %>
							<option><%= item %></option>
						<% }) %>
					</select>
				</td>
				<td class="dropdown-list">
					<select class="custom-select dropdown" disabled="">
						<option selected>select your queries</option>
					</select>
				</td>
				<td class="text-list">
					<input type="text" name="" placeholder="Type tour queries" disabled="">
				</td>
				<td class="dropdown-list">
					<select class="custom-select dropdown" disabled="">
						<option selected>NEW</option>
						<option>Closed</option>
						<option>Re-Open</option>
					</select>
				</td>
			</tr>
	  </script>
		<script>
			var pageName = "{{pageTitle}}"
		</script>
	  {{>footer}}
	</div>
</body>

</html>
