<!DOCTYPE html>
{{>headinclude}}
<script src='https://www.google.com/recaptcha/api.js'></script>

<body class = "container-fluid {{pageTitle}}">
	<div class="page-root">
	  {{>header}}
	  <div role="main" class="styles__layoutWrapper__nEkzc">
	  	<div class="styles__container__17kSd">
		        <!-- react-empty: 16 -->
		        <section class="styles__leftBar__O8zGV">
		            <div>
		                <a href="/">
		                	<img src="/images/srks_logo.png" alt="muthurangam-logo" class="nav--logo">
		                </a>
		                <h1 class="styles__header__2Rne9">Log In</h1></div>
		            <p class="styles__description__2RAxV">Login for a account to raise your feedbacks.</p>
		        </section>
		        <section class="styles__rightContent__3z92l">
		            <form class="undefined styles__form__1nWb1" role="form" name="signup">
		                <div class="styles__inputWrapper__3eyQZ">
		                    <div class="  styles__container__YKjIB">
		                        <div class="styles__fieldIcon__H183S icon--person"></div>
		                        <div class="styles__inputWrapper__38hST">
		                            <input type="text" value="" name="username" id="username" aria-labelledby="username-label" aria-required="true" aria-describedby="username-tooltip" aria-invalid="false" title="Username (used when logging in)" spellcheck="false" autocomplete="off" class="styles__input__OX3CX styles__mHasInfo__3_ZSU">
		                            <label class="styles__label__R5MB3 " for="username" id="username-label">
		                                <!-- react-text: 59 -->Userid
		                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
		                            <div class="styles__feedback__27U2V">
		                                <!-- react-text: 70 -->
		                                <!-- /react-text -->
		                            </div>
		                        </div>
		                    </div>
		                    <div class="  styles__container__YKjIB">
		                        <div class="styles__fieldIcon__H183S icon--key"></div>
		                        <div class="styles__inputWrapper__38hST">
		                            <input type="password" value="" name="password" id="password" aria-labelledby="password-label" aria-required="true" aria-describedby="false" aria-invalid="false" title="Password (used when logging in)" spellcheck="false" autocomplete="new-password" class="styles__input__OX3CX">
		                            <label class="styles__label__R5MB3 " for="password" id="password-label">
		                                <!-- react-text: 76 -->Password
		                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
		                            <div class="styles__innerInputFunctionWrapper__15pS0">
		                                <!-- react-empty: 79 -->
		                                <!-- react-text: 80 -->
		                                <!-- /react-text -->
		                            </div>
		                            <div class="styles__feedback__27U2V">
		                                <!-- react-text: 82 -->
		                                <!-- /react-text -->
		                            </div>
		                        </div>
		                    </div>
		                </div>
						{{!-- 6LesVTwUAAAAAEAB57kznnAmbcDRZMcA4dot8U_v --}}
						{{!-- 6Le4VDwUAAAAALAALFgxg5W6RbGLMzPULs8mXDX9 - site --}}
						<div class="g-recaptcha" data-sitekey="6Le4VDwUAAAAALAALFgxg5W6RbGLMzPULs8mXDX9"></div>
		                <div class="styles__submitWrapper__1jfP8">
		                    <!-- react-empty: 92 -->
		                    <input type="submit"  class="styles__submit__34ILB login" value="Sign In" aria-label="Sign In">
		                </div>
		            </form>
		            <div class="login-with-google">
			            <a href="/auth/google" class="btn btn-outline-secondary">
			            	<i class="fa fa-google-plus" aria-hidden="true"></i>
			            	<span>Login with Google</span>
			            </a>
		            </div>
		        </section>
		    </div>
	  </div>
	  {{>footer}}
	</div>
</body>

</html>
