<!DOCTYPE html>
{{>headinclude}}

<body class = "container-fluid">
	<div class="page-root">
	  {{>header}}
	  <div role="main" class="styles__layoutWrapper__nEkzc">
	  	 <div class="styles__container__17kSd">
		        <!-- react-empty: 16 -->
		        <section class="styles__leftBar__O8zGV">
		            <div>
		                <a href="/">
		                	<img src="/images/logo.png" alt="muthurangam-logo" class="nav--logo">
		                </a>
		                <h1 class="styles__header__2Rne9">Create your account</h1></div>
		            <p class="styles__description__2RAxV">Sign up for a account to create fully managed.</p>
		        </section>
		        <section class="styles__rightContent__3z92l">
		            <form class="signup-form styles__form__1nWb1" role="form" name="signup">
		                <div class="styles__inputWrapper__3eyQZ">
		                    <div class="  styles__container__YKjIB">
		                        <div class="styles__fieldIcon__H183S icon--people"></div>
		                        <div class="styles__inputWrapper__38hST">
		                            <input type="text" value="" name="accountName" id="accountName" aria-labelledby="accountName-label" aria-required="true" aria-describedby="accountName-tooltip" aria-invalid="false" title="Account name (such as your group, project, or company name)" spellcheck="false" autocomplete="off" class="styles__input__OX3CX styles__mHasInfo__3_ZSU">
		                            <label class="styles__label__R5MB3 " for="accountName" id="accountName-label">
		                                <!-- react-text: 32 -->Name
		                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
		                            <div class="styles__feedback__27U2V">
		                                <!-- react-text: 43 -->
		                                <!-- /react-text -->
		                            </div>
		                        </div>
		                    </div>
		                    <div class="  styles__container__YKjIB">
		                        <div class="styles__fieldIcon__H183S icon--mail"></div>
		                        <div class="styles__inputWrapper__38hST">
		                            <input type="email" value="" name="email" id="email" aria-labelledby="email-label" aria-required="true" aria-describedby="false" aria-invalid="false" title="Email address associated with this user" spellcheck="false" autocomplete="email" class="styles__input__OX3CX">
		                            <label class="styles__label__R5MB3 " for="email" id="email-label">
		                                <!-- react-text: 49 -->Email
		                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
		                            <div class="styles__innerInputFunctionWrapper__15pS0"></div>
		                            <div class="styles__feedback__27U2V">
		                                <!-- react-text: 53 -->
		                                <!-- /react-text -->
		                            </div>
		                        </div>
		                    </div>
		                    <div class="  styles__container__YKjIB">
		                        <div class="styles__fieldIcon__H183S icon--person"></div>
		                        <div class="styles__inputWrapper__38hST">
		                            <input type="text" value="" name="username" id="username" aria-labelledby="username-label" aria-required="true" aria-describedby="username-tooltip" aria-invalid="false" title="Username (used when logging in)" spellcheck="false" autocomplete="off" class="styles__input__OX3CX styles__mHasInfo__3_ZSU">
		                            <label class="styles__label__R5MB3 " for="username" id="username-label">
		                                <!-- react-text: 59 -->Userid
		                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
		                            <div class="styles__innerInputFunctionWrapper__15pS0">
		                                <div class="styles__container__34oVD   icon--info" title="More information" aria-controls="username-tooltip" aria-expanded="false">
		                                    <div id="username-tooltip" aria-hidden="true" class="styles__tooltip__3mjy_ "><span><!-- react-text: 65 -->This can be your registration number / roll number.<!-- /react-text --><br><br><!-- react-text: 68 --><!-- /react-text --></span></div>
		                                </div>
		                            </div>
		                            <div class="styles__feedback__27U2V">
		                                <!-- react-text: 70 -->
		                                <!-- /react-text -->
		                            </div>
		                        </div>
		                    </div>
		                    <div class="  styles__container__YKjIB">
		                        <div class="styles__fieldIcon__H183S icon--key"></div>
		                        <div class="styles__inputWrapper__38hST">
		                            <input type="password" value="" name="password" id="password" aria-labelledby="password-label" aria-required="true" aria-describedby="false" aria-invalid="false" title="Password (used when logging in)" spellcheck="false" autocomplete="new-password" class="styles__input__OX3CX">
		                            <label class="styles__label__R5MB3 " for="password" id="password-label">
		                                <!-- react-text: 76 -->Password
		                                <!-- /react-text --><span class="styles__validIndicator__mGNUQ "></span></label>
		                            <div class="styles__innerInputFunctionWrapper__15pS0">
		                                <div class="styles__container__34oVD   icon--info" title="More information" aria-controls="username-tooltip" aria-expanded="false">
		                                    <div id="username-tooltip" aria-hidden="true" class="styles__tooltip__3mjy_ "><span>This can be your mobile number or create an unique password.<!-- /react-text --><br><br><!-- react-text: 68 --><!-- /react-text --></span></div>
		                                </div>
		                            </div>
		                            <div class="styles__feedback__27U2V">
		                                <!-- react-text: 82 -->
		                                <!-- /react-text -->
		                            </div>
		                        </div>
		                    </div>
		                <div class="styles__container__YKjIB">
		                	<div class="styles__fieldIcon__H183S icon--idcard"></div>
	                        <div class="styles__inputWrapper__38hST">
	                           <select class="dropdown styles__input__OX3CX">
	                           		<option selected>SELECT YOUR COLLEGE</option>
		                           	<option>Adhiparasakthi College</option>
		                           	<option>Abdul Hakeem College</option>
		                           	<option>Kingston Engineering College</option>
		                           	<option>Muthurangam Govt. Arts College</option>
		                           	<option>REC</option>
	                           </select>
	                            <div class="styles__feedback__27U2V">
	                                <!-- react-text: 82 -->
	                                <!-- /react-text -->
	                            </div>
	                        </div>
	                    </div>
	                    <label class="undefined styles__container__vyQ9c">
	                        <input type="checkbox" class="styles__input__2g5u8" role="checkbox" title="Confirm you've read 's Master Services Agreement" name="viewedMsa" aria-labelledby="viewedMsa-label" aria-checked="false" value="on">
	                        <div class="styles__animatedCheckbox__3ejwH"></div>
	                        <span id="viewedMsa-label"><span title="Review 's Master Services Agreement and then check the box to accept.">Please accept&nbsp; to our policy</span></span>
	                    </label>
	                </div>
	                <div class="styles__submitWrapper__1jfP8">
	                    <!-- react-empty: 92 -->
	                    <input type="submit" checked="" disabled="" class="styles__submit__34ILB register" value="Create Account" aria-label="Create Account">
	                </div>
	            </form>
	        </section>
		    </div>
	  </div>
	  {{>footer}}
	</div>
</body>

</html>
